.image-avatar {
    height: 80px;
    width: 80px;
}
.upload-file {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.fail-alert {
    color: red;
    background: #ded3d3;
    padding: 12px 12px;
}

#add-btn:hover, .delete:hover {
    cursor:pointer;
}
.delete:hover {
    color: red;
}
.delete {
    padding-top: 10px;
}
li {
    list-style-type: none;
}
